@headerbg: #fff;
@bgcolor: #e8eaed;

.display-flex-row-mixin(@principal_axis: flex-star,@cross_axis: flex-star) {
    display: flex;
    flex-direction: row;
    justify-content: @principal_axis;
    align-items: @cross_axis;
}