/
<template>
  <header class="header">
    <div class="contain">
      <div>
        <router-link :to="item.path" v-for="item in navData" :key="item.path">{{item?.meta?.title}}</router-link>
      </div>
      <div>
        <a-button>中英文</a-button>
        <span @click="handleChangeTheme">
          <component :is="iconName"></component>
        </span>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
import { computed, ref } from "vue"
import { useRouter } from "vue-router"
const {options:{routes}} = useRouter()
const navData = computed(()=>{
  return routes.filter((item)=>item?.meta?.nav)
})
const iconName = ref("light-icon")
const handleChangeTheme = () => {
  document.documentElement.classList.toggle("dark")
  iconName.value = document.documentElement.classList.contains("dark")
    ? "dark-icon"
    : "light-icon"
}
</script>
<style lang="less" scoped>
.header {
  height: 64px;
  background: var(--bg-color);
  border-bottom: var(--border-color);
  .contain {
    height: 100%;
    .display-flex-row-mixin(space-between,center);
    background: seagreen;
  }
}
</style>
