@font-face {
  font-family: "iconfont"; /* Project id 3592999 */
  src: url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-taiyang:before {
  content: "\e611";
}

.icon-zhongyingwenqiehuan:before {
  content: "\e626";
}

.icon-yueliang:before {
  content: "\e63a";
}

