<template>
  <icon>
    <template #component>
      <i class="iconfont icon-zhongyingwenqiehuan"></i>
    </template>
  </icon>
</template>

<script setup lang="ts">
import Icon from "@ant-design/icons-vue"
</script>

<style scoped>
i {
  font-size: 20px;
}
</style>
